:root {
    --primary-background: #191819;
    --secondary-background: #373437;
    --tertiary-background: #010101;
    --primary-text: #efeeee;
    --secondary-text: #c0bfbf;
    --text-shadow: rgb(156, 155, 155);
    --fancy-text: rgb(205, 62, 62);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-text);
    border: none;
    /* cursor: none; */
    user-select: none;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid white;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    z-index: 9999;
}

hr.hero-header {
    width: 15%;
    margin-top: 2rem;
    border: 0.5px solid white;
}

hr.footer {
    margin: 5vh 0 0 3vw;
    width: 94vw;
    border: 0.5px solid white;
}

nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 16vw;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-stretch: narrower;
    font-weight: bold;
    padding: 0 2rem;
}

nav a {
    text-decoration: none;
    padding: 0 1.5rem;
}

footer {
    width: 100vw;
    height: 25vh;
    padding: 5vh 5vw 0 5vw;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-about {
    display: flex;
    flex-direction: column;
}

.footer-about h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-text);
    margin: 0 0 1rem 0;
}

.footer-about p {
    font-size: 1rem;
    color: var(--secondary-text);
}

.footer-contact h1 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-text);
    margin: 0 0 1rem 0;
}

.footer-contact p {
    font-size: 1rem;
    color: var(--secondary-text);
}

.hero-container {
    display: grid;
    height: 90vh;
}

.hero-header-container {
    margin: 30vh 18vw;
    width: 41vw;
}

.hero-header-container h1 {
    font-size: 2rem;
    line-height: 3rem;
}

.hero-header-container p {
    margin-top: 2rem;
    line-height: 1.2rem;
    color: var(--secondary-text);
}

.hero-header-spacer-image {
    width: 20px;
    height: 10px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 3vw;
    height: 100vh;
}

.card {
    width: 98%;
    height: 98%;
    margin: 1%;
    padding: 5% 5%;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--fancy-text);
    box-shadow: 3px 3px 5px 5px var(--tertiary-background);
    display: flex;
    flex-direction: column;
}

.card:hover {
    width: 100%;
    height: 100%;
    margin: 0%;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.card:not(:hover) {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.card-text-container {
    width: 100%;
    height: 80%;
}

.card-header {
    text-shadow: 2px 3px 0 var(--text-shadow);
    font-size: 2rem;
}

.card-desc {
    font-size: 1rem;
}

.card-button {
    width: max-content;
    height: 20%;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid var(--primary-text);
    border-radius: 10px;
}

.project-hero {
    padding: 5vh 20vw;
    display: grid;
    min-height: 42vh;
    text-align: center;
}

.project-header {
    font-size: 6rem;
    font-weight: bold;
    text-shadow: 4px 6px 0 var(--fancy-text);
    padding-bottom: 1rem;
}

.project-header-dates {
    font-size: 1.2rem;
    font-weight: bold;
}

.project-cards-container {
    display: grid;
    grid-gap: 30px;
}

.project-card{
    position: relative;
    width: 96vw;
    min-height: 80vh;
    margin: 0 2vw;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--fancy-text);
    box-shadow: 3px 3px 5px 5px var(--tertiary-background);
    background-size: cover;
}

.project-half-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    position: relative;
    width: 96vw;
    min-height: 80vh;
    margin: 0 2vw;
    padding: 10px;
}

.project-half-card-image-container {
    position: relative;
    z-index: 1;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--fancy-text);
    box-shadow: 3px 3px 5px 5px var(--tertiary-background);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-card:hover {
    width: 97vw;
    height: 82vh;
    margin: 0 1.5vw;
    top: -1%;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.project-card:not(:hover) {
    top: 0%;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, top 0.2s ease-in-out, margin 0.2s ease-in-out;
}

.project-half-card-image-container:hover {
    width: 102%;
    height: 102%;
    left: -1%;
    top: -1%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out, height 0.2s ease-in-out;
}

.project-half-card-image-container:not(:hover) {
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out, height 0.2s ease-in-out;
}

.project-card-background-video {
    position: absolute;
    filter: brightness(50%);
    max-width: 100%;
    max-height: 100%;
    top: 0;;
    z-index: 0;
    background-size: cover;
}

.project-half-card-background-video {
    position: relative;
    z-index: 0;
    max-width: 95%;
    max-height: 95%;
    border-radius: 15px;
}

.project-half-card-video-caption {
    position: relative;
    padding-top: 1rem;
    font-size: 1rem;
}

.project-card-text-container {
    padding: 2vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 60%;
    z-index: 1;
}

.project-half-card-text-container {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    z-index: 1;
}

.project-half-card-description-spacer {
    position: relative;
    width: 100%;
    padding-top: 4rem;
}

.project-card-main-text-container {
    background-color: inherit;
    z-index: inherit;
}

.project-card-title {
    font-size: 3rem;
    font-weight: bold;
    background-color: inherit;
}

.project-card-stats {
    z-index: inherit;
    font-weight: bold;
    font-size: 1rem;
    background-color: inherit;
    padding: 0.2rem;
}

.project-card-desc {
    z-index: inherit;
    font-size: 1rem;
    background-color: inherit;
}

#FloodfillAlgorithm {
    grid-template-columns: 1fr 2fr;
}

#BadmintonDrone {
    grid-template-columns: 3fr 4fr;
}

#badminton-drone-slides-link {
    color: var(--fancy-text);
    text-decoration: underline;
}

#FirstCNN {
    border-radius: 15px;
}

#ClusteringAlgorithm {
    grid-template-columns: 3fr 5fr;
}

#Driving2DCarAI {
    grid-template-columns: 3fr 2fr;
}

#EightPuzzle {
    grid-template-columns: 1fr 2fr;
}

#EightPuzzleImage {
    border-radius: 15px;
}

#ImportingIrisDataSet {
    grid-template-columns: 3fr 2fr;
}

#ImportingIrisDataSetImage {
    filter: brightness(90%);
    border-radius: 15px;
}

#MovieSentiment {
    grid-template-columns: 5fr 3fr;
}

#MovieSentimentImage {
    filter: brightness(90%);
    border-radius: 15px;
}

#MushroomDataset {
    grid-template-columns: 7fr 3fr;
}

#MushroomDatasetImage {
    filter: brightness(90%);
    border-radius: 15px;
}

#MultiInputPolynomialRegression {
    grid-template-columns: 3fr 5fr;
}

#MultiInputPolynomialRegressionImage {
    filter: brightness(90%);
    border-radius: 15px;
}

#Bomberman {
    grid-template-columns: 2fr 1fr;
}

#BombermanImage {
    filter: brightness(90%);
    border-radius: 15px;
}

#csp-platformer {
    background-image: url('VideoGamesImages/CspBackground.png');
}
